{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/flattingResult.css' %}" />
{% endblock %} {% block content %}
<section class="section">
  <canvas id="canvas" onclick="clickEvent(event)"></canvas>
  <div class="length">
    <p id="crack-area"></p>
    <br/>
  <button id="button" class="disabled" type="submit" onclick="save()" disabled>
    저장하기
  </button>
</section>

{% endblock %}
<!--  -->
{% block script %}
<script>
  const canvas = document.getElementById("canvas");
  const ctx = canvas.getContext("2d");
  const button = document.getElementById("button");
  const areaText = document.querySelector('#crack-area')
  const image = new Image();
  image.src = "{{crack.flatting_image.url}}";

  let points = [];
  let length = [];

  image.addEventListener("load", function () {
    const width = image.width;
    const height = image.height;
    canvas.width = width;
    canvas.height = height;
    button.style.width = width + "px";
    ctx.drawImage(image, 0, 0, width, height);
  });

  function change(sum) {
    let x = (document.getElementById("crack-length").innerText = sum + "mm");
  }

  const getArea = (p) => {
    const first = (p[3][0]*p[2][1]*(-1))+(p[2][0]*p[1][1]*(-1))+(p[1][0]*p[0][1]*(-1)) + (p[0][0]*p[3][1]*(-1))
    const last = (p[3][1]*p[2][0]*(-1)) + (p[2][1]*p[1][0]*(-1)) + (p[1][1]*p[0][0]*(-1)) + (p[0][1]*p[3][0]*(-1))
    return (first-last)/2
  }

  function clickEvent(event) {
    if (points.length < 4) {
      ctx.strokeStyle = "black";
      ctx.lineWidth = 1;
      ctx.beginPath();
      ctx.arc(event.offsetX, event.offsetY, 2, 0, Math.PI * 2);
      ctx.stroke();
      const point = [event.offsetX, event.offsetY];
      points.push(point);
      if (points.length > 1 && points.length < 5){
        ctx.beginPath();
        ctx.moveTo(points[points.length -1][0], points[points.length -1][1]);
        ctx.lineTo(points[points.length -2][0], points[points.length -2][1]);
        ctx.stroke();
      } 
      if (points.length === 4){
        ctx.beginPath();
        ctx.moveTo(points[points.length -1][0], points[points.length -1][1]);
        ctx.lineTo(points[0][0], points[0][1]);
        ctx.stroke();
        const allRealArea = '{{width}}'* 0.001 * '{{height}}' * 0.001 ;// m 로 변환한 전체 넓이
        const localPixelArea = getArea(points);
        const pixelAllArea = image.width * image.height;
        const realLocalArea = localPixelArea * allRealArea / pixelAllArea;
        areaText.innerText = realLocalArea.toFixed(3) + ' ㎡';
        button.disabled = false;
        button.className = 'submit'
        }


      }
      ctx.closePath();
    
  }

  function save() {
    const dataURL = canvas.toDataURL("image/png");
    const crackArea = document.getElementById("crack-area").innerText.replace(/[^0-9,.]/g, "");
    console.log(crackArea)
    fetch("/saveArea/{{crack.id}}", {
      body: JSON.stringify({ dataURL: dataURL, crackArea: crackArea }),
      method: "POST",
      redirect: "follow",
    }).then((response) => {
      if (response.redirected) {
        console.log(response.url);
        window.location.href = response.url;
      }
    }).catch(err => console.log(err));
  }
</script>
{% endblock %}
