{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/categoryList.css' %}" />
{% endblock %} {% block content %}
<section class="section">
  <div class="card-view">
    {% for crack in cracks %}
    <div class="card">
      <img src="{{crack.image.url}}" alt="image" />

      <div class="btn-group">
        <button type="button" class="btn-area" onclick="location.href='/area'">
          넓이
        </button>
        <a href="{% url 'flatting' crack.id %}">
          <button type="button" class="btn-flatting">평탄화</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
